{% extends 'base.html' %}
{% load thumbnail %}
{% load bootstrap_pagination %}

{% block content %}

    <div class="row" style="margin-bottom: 70px">
        <div class="col-md-offset-3 col-md-3">
            {% thumbnail page_user.profile.userpic "200x200" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"  class="img-thumbnail" style="border-radius: 50%">
                {% empty %}
                <img src="http://placehold.it/200X200&text={{ page_user.username }}" class="img-thumbnail" style="border-radius: 50%">
            {% endthumbnail %}
        </div>
        <div class="col-md-3">
            <h5>{{ page_user.username }}</h5>
        </div>
    </div>

    <div class="post">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                {% for product in page %}
                    <div class="col-md-4">
                        1
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            {% if page.paginator.num_pages > 1 %}
                {% bootstrap_paginate page %}
            {% endif %}
        </div>
    </div>
{% endblock %}