{% extends 'base.html' %}
{% load bootstrap3 %}
{% load thumbnail %}



{% block content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            {% thumbnail request.product.image "100x100" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"  class="img-thumbnail" >
                {% empty %}
                <img src="http://placehold.it/100X100&text={{ request.user.username }}" class="img-thumbnail" >
            {% endthumbnail %}
            <form method="POST" action="{{ request.path }}" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button class="btn btn-success" type="submit">Save</button>
            </form>
        </div>
    </div>

{% endblock %}